:root {
  --extended_bg: 0;
  --item-border-size: 4px;
  --corner-offset: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;

}

.bg-container {
    display:block;
    padding:0;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
}


.bg-image { 
    position: absolute;
    background: url('images/background.jpg') center center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: -10%;
    bottom: 10%;
    left: -10%;
    right: 10%;
    width:120%;
    height:120%;
}

.bg-image.blurred { /*--bad performances--*/
    opacity: 0;
    position: absolute;
    background: url('images/background-blurred.jpg') center center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: -10%;
    bottom: 10%;
    left: -10%;
    right: 10%;
    width:120%;
    height:120%;
}

section:not(.main_menu) {
    display: block;
}

.sectitle_fig {
  position: absolute;
  width: 4em;
  left: -4rem;
}

.sectitle > span {
  display: inline-flex;
  align-items:center;
  margin-top: 3rem;
  background-image: linear-gradient(#571e1a, #be443b);
  color: white !important;
  z-index: 1;
  color: black;
  padding: 0.3rem 0.9rem;
}

.sectitle > span > h3 {
  font-weight: 300;
  display: inline-block;
  text-decoration: none;
  font-size: 120%;
}


.bg_frame {
  position:absolute;
    width: 100%;
   -webkit-user-drag: none;
}

.main_menu {
    height: 100vh;
}

.title {
    position: absolute;
    top: 5%;
    left: 5%;
}

.subtitle {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.title > h1{
    font-weight: 300;
    font-size: 1.2em;
}

.subtitle > h5 {
    font-weight: 300;
}

div.menu {
    position: absolute;
    top: 23vh;
    left: 46vw;
}


.menu > ul {
    display: flex;
    flex-direction: column;
}

li {
  list-style: none;
}

.menu_item {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.main_item {
  display: flex;
  align-items: center;
}

.menu_subitems {
  display: flex;
  flex-direction: column;
}

.menu_subitems.hidden {
  display: none;
}

@keyframes drop{
  0%{opacity: 0;}
  100%{transform: translateY(10px)}
}

.menu_subitem {
  display: flex;
  margin-bottom: 0.5rem;
  margin-left: 1vw;
  gap: 5vw;

}

.main_item > img {
    width: 20vw;
    height: auto;
    padding-right: 15px;
    pointer-events: none;
    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    animation: leftRight 3s linear infinite alternate;
}

.menu_subitem > img {
    width: 14vw;
    height: auto;
    padding-right: 20px;
    pointer-events: none;
    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    animation: leftRight 3s linear infinite alternate;
}

@keyframes leftRight {
    0%{
        left: 0;
    }
    100% {
        transform: translateX(-4%)
    }
    
}

.main_item > a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: 300;
    padding: 0.1rem 0.9rem;
    width: fit-content;
    height: fit-content;
    transition: font-size 0.4s ;
    animation: upDown 4s linear infinite alternate;
    cursor: pointer;
}

.menu_subitem > a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: 300;
    padding: 0.1rem 0.9rem;
    width: fit-content;
    height: fit-content;
    transition: font-size 0.4s ;
    animation: upDown 4s linear infinite alternate;
    cursor: pointer;
}

@keyframes upDown {
    0%{

    }
    100% {
        transform: translateX(-4%);
        transform: translateY(-10%);
    }
    
}

.menu_label > svg {
  margin-bottom: 0.3rem;
  transition: 0.4s;
}

svg > path {
  transition: 0.4s;
}

svg.reversed path{
  transition: 0.4s;
  d: path("M0,50 l35,-50 l35,50");
}

.menu_label {
}

.selected {
  position: relative;
  font-size: 120%;
  background-image: linear-gradient(#571e1a, #be443b);
  color: white !important;
  z-index: 1;
}

.extended {
  font-size: 120%;
  background-image: linear-gradient(#534b48, #534b48);
  color: white !important;
}

.subSelected {
    font-size: 100%;
    background-image: linear-gradient(#571e1a, #be443b);
    color: white !important;
}

.menu_label.selected > svg > path, .menu_label.extended > svg > path {
  stroke: white;
}

.metadata {
  height: 100vh;
}


/*-- mdTable --*/
.mdTableContainer {
}

.mdTableContainer > table {
    height: 60vh;
    width: 80vw;
    box-shadow: -1px 1px 20px 0px #9c9c9c59;
    margin: auto;
    margin-top: 5vh;
    max-width: 80vw;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
}

.mdTableContainer > table > tbody >  tr > td:nth-child(2),
.mdTableContainer > table > tbody >  tr > td:nth-child(4),
.mdTableContainer > table > tbody >  tr > td:nth-child(5) {
  text-align: center;
}

.siteTable > table > tbody tr:nth-child(odd) {
  background-color: rgba(215, 216, 212, 0.7);
  color: black;
}

.siteTable > table > tbody tr:nth-child(even) {
  background-color: rgba(65, 66, 59, 0.7);
}

.siteTable th,
.siteTable td {
  padding: 15px 10px;
}

.siteTable thead {
  background-image: linear-gradient(to right,#4e4946, #41423b);
  text-transform: uppercase;
  opacity: 0.8;
}

.siteTable th {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 300;
}

.siteTable table {
 font-size: 0.4em; 
}

/* csv tables */

.csv_tables {
  height: 110vh;
}

.csvtablestabs {
  display: flex;
  flex-direction: row;
  max-width: 80vw;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}

.csvtablestab {
  background-color: rgba(109, 45, 46, 1);
  color: white;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 10vh;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7em;
  height: 7vh;
  clip-path: polygon(1rem 0%, 100% 0, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%, 0% calc(0% + 1rem));
  z-index: 1;
}

.csvtablestab::before {
  content: '';
  position: relative;
  inset: 0;
  background: whitesmoke;
  z-index: 3;
  clip-path: polygon(14px calc(0% + 2px), calc(100% - 2px) calc(0% + 2px), calc(100% - 2px) calc(100% - 14px), calc(100% - 14px) calc(100% - 2px), calc(0% + 2px) calc(100% - 2px), calc(0% + 2px) calc(0% + 14px));
}

.csvtablestab.active {
  font-weight: 500;
}

.csvtable {
    left: 10vw;
    position: absolute;
    width: 80vw;
    box-shadow: -1px 1px 20px 0px #9c9c9c59;
    margin: auto;
    margin-top: 3vh;
    max-width: 80vw;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s linear;
    z-index: 3;
}

.csvtable.hidden {
  opacity: 0;
  z-index: -3;
}

.csvtable tr th:first-child {
  width: 8em;
  text-align: center;
  font-weight: 200;
}

.csvtable th{
  text-transform: uppercase;
  font-weight: 300;
  height: 30px;
}

.csvtable th {
  padding: 10px 10px;
}
/*--mdaTableContainer --*/

.mdaTableContainer {
  display: flex;
  align-items: center;
  margin-top: 30vh;
}

.metadataTable {
    position: absolute;
    max-height: 50vh;
    box-shadow: -1px 1px 20px 0px #9c9c9c59;
    margin: 18vh 20vw;
    max-width: 70vw;
    table-layout: auto;
    border-collapse: collapse;
    color: white;
    transition: opacity 0.3s ease-out;
}

.metadataTable tbody > tr > td:nth-child(7){
  white-space: pre-wrap;
}

.metadataTable.hidden {
    opacity: 0;
    z-index: -11;
}

.metadataTable td{
  text-align: center;
}


.metadataTable th,
.metadataTable td {
  padding: 10px;
  white-space: nowrap;
}

.metadataTableTab {
  position: absolute;
  text-transform: uppercase;
  margin-top: 20vh;
}

.metadata_item {
    text-decoration: none;
    color: black;
    font-weight: 300;
    padding: 0rem 0.9rem;
    width: fit-content;
    height: fit-content;
    transition: font-size 0.4s, background 0.2s;
    animation: upDown 4s linear infinite alternate;
    cursor: pointer;
    background-image: linear-gradient(#dad8d3af, #ecebe7af);
    margin-bottom: 1em;
    left: 5vw;
    padding-left: 1.2em;
    position: relative;
}

.metadata_item.selected {
  background-image: linear-gradient(#571e1a, #be443b) !important;
}

.metadata_item:hover{
  background: rgba(65, 66, 59, 1);
  color: white;
}

.metadata_item:hover .tabitem_fig {
  fill: rgba(65, 66, 59, 1);
}

.metadata_item.selected > .tabitem_fig {
  fill: #6d2d2efb;
  stroke: #cb4c48;
}

.metadata_item > .tabitem_fig {
  position: absolute;
  height: 1.8em;
  left: -2rem;
  top: -0.7rem;
  fill: #939190;
  stroke: #c3c1bd;
}

.metadataalignment{
  height: 80vh;
}

/*-- carousel --*/

.carousel {
  display: grid;
}


.carousel_items {
  height: 70vh;
  position: relative;
  user-select: none;
  margin-bottom: 10vh;
}




.carousel_items .carousel_item {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 35vh;
  max-width: 30vw;
  object-fit: contain;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
  clip-path: polygon(var(--corner-offset) 0%, 100% 0, 100% calc(100% - var(--corner-offset)), calc(100% - var(--corner-offset)) 100%, 0 100%, 0% calc(0% + var(--corner-offset)));
  isolation: isolate;
  display: inline-block;
  line-height: 0;
}

#item_6 {
  height: auto !important;
}

#item_6.carousel_item.next{
  translate: -7vw 10vh;
}
#item_6.carousel_item.next.one{
  translate: -7vw 10vh;
}
#item_6.carousel_item.next.two{
  translate: -7vw 10vh;
}
#item_6.carousel_item.next.three{
  translate: -7vw 10vh;
}
#item_6.carousel_item.next.four{
  translate: -7vw 10vh;
}
#item_6.carousel_item.prev{
  translate: -7vw 10vh;
}
#item_6.carousel_item.prev.one{
  translate: -7vw 10vh;
}
#item_6.carousel_item.prev.two{
  translate: -7vw 10vh;
}
#item_6.carousel_item.prev.three{
  translate: -7vw 10vh;
}

.carousel_items .carousel_item::before {
  content: '';
  position: absolute;
  inset: 0;
  background: whitesmoke;
  z-index: 3;
  clip-path: polygon(0% 0%, 0% 100%, var(--item-border-size) 100%, var(--item-border-size) calc(0% + calc(0% + var(--corner-offset) + 1px)), calc(0% + calc(0% + var(--corner-offset) + 1px)) var(--item-border-size), calc(100% - var(--item-border-size)) var(--item-border-size), calc(100% - var(--item-border-size)) calc(100% - var(--corner-offset) - 1px), calc(100% - var(--corner-offset) - 1px) calc(100% - var(--item-border-size)), 0 calc(100% - var(--item-border-size)), 0 100%, 100% 100%, 100% 0%);
}

.carousel_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
}

.carousel_item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.carousel_item.prev {
  z-index: 98;
  opacity: 0.90;
  transform: translate(-19vw, -23vh) scale(0.8);
}

.carousel_item.next {
  z-index: 98;
  opacity: 0.90;
  transform: translate(2vw, -23vh) scale(0.8);
}

.carousel_item.next.one {
  z-index: 97;
  opacity: 0.80;
  transform: translate(8vw, -28vh) scale(0.75);
}

.carousel_item.prev.one {
  z-index: 97;
  opacity: 0.80;
  transform: translate(-23vw, -28vh) scale(0.75);
}

.carousel_item.next.two {
  z-index: 96;
  opacity: 0.70;
  transform: translate(10vw, -38vh) scale(0.65);
}

.carousel_item.prev.two {
  z-index: 96;
  opacity: 0.70;
  transform: translate(-23vw, -38vh) scale(0.65);
}

.carousel_item.next.three {
  z-index: 95;
  opacity: 0.60;
  transform: translate(4vw, -50vh) scale(0.55);
}

.carousel_item.prev.three {
  z-index: 95;
  opacity: 0.60;
  transform: translate(-18vw, -50vh) scale(0.55);
}

.carousel_item.next.four {
  z-index: 94;
  opacity: 0.50;
  transform: translate(-8vw, -53vh) scale(0.45);
}



.carousel_items .button-container {
  position: absolute;
  top: 105%;
  left: 25%;
  width: 15vw;
  z-index: 100;
}

.button-container .button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  opacity: 0.75;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 1.2em;
  background: #4e4946;
  z-index: -1;
  clip-path: polygon(13px 0%, 100% 0, 100% calc(100% - 13px), calc(100% - 13px) 100%, 0 100%, 0% calc(0% + 13px));
}


.button-container .button:before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.449);
  z-index: -1;
  clip-path: polygon(14px calc(0% + 2px), calc(100% - 2px) calc(0% + 2px), calc(100% - 2px) calc(100% - 14px), calc(100% - 14px) calc(100% - 2px), calc(0% + 2px) calc(100% - 2px), calc(0% + 2px) calc(0% + 14px));
  opacity: 1;
}

.button-container .button:nth-child(2) {
  left: 50%;
}

.button > svg {
  z-index: 4;
}

.iteminfo {
  position: absolute;
  width: 25vw;
  height: 70vh;
  left: 65vw;
  margin-top: 6vh;
  background-color: #4e4946d8;
  clip-path: polygon(var(--corner-offset) 0%, 100% 0, 100% calc(100% - var(--corner-offset)), calc(100% - var(--corner-offset)) 100%, 0 100%, 0% calc(0% + var(--corner-offset)));
}

.iteminfo::before {
  content: '';
  position: absolute;
  inset: 0;
  clip-path: polygon(0% 0%, 0% 100%, var(--item-border-size) 100%, var(--item-border-size) calc(0% + calc(0% + var(--corner-offset) + 1px)), calc(0% + calc(0% + var(--corner-offset) + 1px)) var(--item-border-size), calc(100% - var(--item-border-size)) var(--item-border-size), calc(100% - var(--item-border-size)) calc(100% - var(--corner-offset) - 1px), calc(100% - var(--corner-offset) - 1px) calc(100% - var(--item-border-size)), 0 calc(100% - var(--item-border-size)), 0 100%, 100% 100%, 100% 0%);
  background-color: #827f7a;
}

.infobox {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s ease-out;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}

.infocontainer {
  display: flex;
  flex-direction: column;
  height: 57vh;
  justify-content: space-between;
  row-gap: 2rem;
}


.iteminfo > .active{
  opacity: 1;
  z-index: 8;
}

.itemTitle {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
}

.itemDescription {
  font-size: 1rem;
  font-weight: 300;
}

.gotothe {
  font-size:1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.gotothe > a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.gotothe > a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.gotothe > a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.jiteminfo > .active span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  animation: 
    typing 1s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.infobox.active {
}


.mapcontainer {
  display: grid;
  width: 80vw;
  height: 70vh;
  margin: 10vh auto;
  grid-template-rows: 1fr 6fr;
  row-gap: 10px;
}

.rdf_visualization > .mapcontainer {
  grid-template-rows: 1fr;
  height: inherit;
}



.gridstabscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.conceptualmodel_container > .gridstabscontainer {
  grid-template-columns: 1fr;
}

.gridtab1 > span,
.gridtab3 > span,
.gridtab2 > span {
  font-weight: 200;
}

.gridstabscontainer > div{
  display: grid;
  place-items: center;
  background-color: #dadbd2;
  opacity: 0.5;
  border-radius: 1px;
  cursor: pointer;
  box-shadow: -1px 1px 20px 0px #9c9c9c59;
  transition: all 0.5s ease-out;
}

.gridcontent {
  background-color: #f4f4f4;
  opacity: 0.8;
}
.gridstabscontainer > div.active {
  background-color: #f4f4f4;
  opacity: 0.6;
}

.gridcontent {
  box-shadow: -1px 1px 20px 0px #9c9c9c59;
  overflow: hidden;
  border: 2px solid grey;
  border-radius: 1px;
}

div[class^="gridtab"] {
  border: 2px solid grey;
  border-radius: 1px;
}

#zoom, #zoom2, #zoom3, #zoom4{
  width: 100%;
  height: 100%;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  cursor: grab;
}

.imagecontainer {
  width: 100%;
  position: relative;
}
.imagecontainer > img {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  transition: opacity 0.2s ease-out;
}

.imagecontainer > img.hidden {
  opacity: 0;
}

#zoomcontainer4 {
  height: 60vh;
  border: 2px solid grey;
  border-radius: 2px;
}

.ttlcontainer {
  display: grid;
  width: 80vw;
  margin: 10vh auto;
  grid-template-rows: 1fr;
  row-gap: 10px;
}


.ttlcontainer {
}

.hljs-style-github .hljs {
    background: rgb(255, 255, 255, 0.8);
}

.members {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10vh 10vw;
}

.member img {
  max-height: 360px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.namemail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member .name{
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.5rem;
}

footer  {
  height: 15vh;
}


